.label {
  overflow: hidden;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  .label-right {
    float: right;
    color: $mainColor50;
    text-align: right;
    font-weight: 400;
  }
}

.input,
.textarea,
.select {
  position: relative;
  display: block;
  width: 100%;
  padding: 13px 15px;
  background: #ffffff;
  color: $mainColor;
  border: 1px solid $mainColor25;
  border-radius: 4px;
  transition: all 0.3s ease;
  &::placeholder {
    color: $mainColor25;
    transition: all 0.3s ease;
  }
  &:hover,
  &:active,
  &:focus {
    border-color: $mainColor;
    &::placeholder {
      color: $mainColor;
    }
  }
}

.select {
  appearance: none;
  padding: 11px 15px;
  color: $mainColor75;
  cursor: pointer;
}
