mixin input(data)
  div(class= `form-item ${data.customSelector}`)
    if (data.labelTitle.length > 0)
      label(for= data.inputID)
        span.label-left= data.labelTitle
      span(class=`input__wrap ${data.inputWrap}`)
        input(type= data.inputType, name= data.inputName, id= data.inputID, class="input", placeholder= data.inputPlaceholder, value= data.inputValue)
    else
      span(class= `input__wrap ${data.inputWrap}`)
        input(type= data.inputType, name= data.inputName, id= data.inputID, class="input", placeholder= data.inputPlaceholder, value= data.inputValue)