mixin input(attrs)
  div(class= "form-item " + attrs.customSelector)
    if attrs
      label(for= attrs.inputID, class= "input-label")
        span.label-left= attrs.labelTitle
      span(class= "input-wrap " + attrs.inputWrap)
        input(type= attrs.inputType, name= attrs.inputName, id= attrs.inputID, class= "input " + attrs.inputClass, placeholder= attrs.inputPlaceholder, value= attrs.inputValue)
    else
      span(class= "input-wrap " + attrs.inputWrap)
        input(type= attrs.inputType, name= attrs.inputName, id= attrs.inputID, class= "input " + attrs.inputClass, placeholder= attrs.inputPlaceholder, value= attrs.inputValue)
