.form-item__subscribe {
  position: relative;
  .input__subscribe {
    padding-right: 44px;
    &:before {
      @extend .material-icons;
      content: "arrow_forward";
      z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      color: $purple;
      font-size: 26px;
    }
  }
}

.input {
  label {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__wrap {
    z-index: 1;
    position: relative;
    display: block;
  }
}

.input,
.textarea,
.select {
  position: relative;
  display: block;
  width: 100%;
  padding: 13px 15px;
  background: #ffffff;
  color: $mainColor;
  border: 1px solid $mainColor25;
  border-radius: 4px;
  transition: all 0.3s ease;

  &::placeholder {
    color: $mainColor25;
    transition: all 0.3s ease;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $mainColor;

    &::placeholder {
      color: $mainColor;
    }
  }
}

.select {
  appearance: none;
  padding: 11px 15px;
  color: $mainColor75;
  cursor: pointer;
}
