.form__item-toggle {
  position: relative;
  display: flex;
  align-items: center;
  &:hover,
  &:active,
  &:focus {
    .toggle-mark {
      border-color: $purple;
    }
    label {
      color: $mainColor75;
    }
  }
  .toggle {
    display: none;
  }
  .toggle:checked {
    & + .toggle-mark {
      border-color: $purple;
      &:before {
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        transform: translate3d(16px, 0, 0);
      }
    }
    & ~ label {
      color: $mainColor75;
    }
  }
  label {
    padding-left: 50px;
    font-weight: 400;
    font-size: 14px;
    color: $mainColor50;
    text-transform: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.toggle-mark {
  position: absolute;
  left: 0;
  top: 50%;
  width: 40px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid $mainColor25;
  border-radius: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  &:before {
    content: '';
    position: absolute;
    left: 4px;
    top: 3px;
    width: 12px;
    height: 12px;
    background: $mainColor25;
    border-radius: 50%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
