@import './utils/libs';
@import './utils/reset';
@import './utils/fonts';
@import './utils/libs';
@import './utils/vars';
@import './utils/mixins';

html {
  height: 100%;
  color: $mainColor;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  font-family: $mainFont;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: rem(24);
  line-height: 30px;
  letter-spacing: -0.4px;
}

h2,
.h2 {
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: rem(19);
  line-height: 24px;
  letter-spacing: -0.1px;
}

h3,
.h3 {
  font-style: normal;
  font-weight: bold;
  font-size: rem(12);
  line-height: 15px;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  &.wrapper-ui-kit {
    max-width: 1460px;
  }
}

.mobile-href {
  pointer-events: none;
}

@media screen and (max-width: $smDesktopWidth) {
  .mobile-href {
    pointer-events: default;
  }
}

header {
  padding: 15px 0;
  .wrapper {
    display: flex;
    align-items: center;
  }
}

section,
.section {
  position: relative;
  padding: 40px 0;
}

// elements
// @import './modules/button';
// @import './modules/input';
// @import './modules/checkbox';

// // ui-kit
// @import './modules/ui-kit-logo.scss';

// // colors and types
// @import './modules/colors-and-type/colors-and-type.scss';
// @import './modules/colors-and-type/colors-item.scss';
// @import './modules/colors-and-type/type-item.scss';

// // form elements
// @import './modules/form-elements/form-elements.scss';

// // index
// @import './modules/header-logo.scss';
// @import './modules/navbar.scss';
// @import './modules/user.scss';
