@import './utils/libs';
@import './utils/reset';
@import './utils/fonts';
@import './utils/libs';
@import './utils/vars';
@import './utils/mixins';

html {
  box-sizing: border-box;
  height: 100%;
  color: $mainColor;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  font-family: $mainFont;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: 12px;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: rem(24);
  line-height: rem(30);
  letter-spacing: -0.4px;
}

h2,
.h2 {
  font-family: $titleFont;
  font-style: normal;
  font-weight: 700;
  font-size: rem(19);
  line-height: rem(24);
  letter-spacing: -0.1px;
}

h3,
.h3 {
  font-style: normal;
  font-weight: bold;
  font-size: rem(12);
  line-height: rem(15);
  text-transform: uppercase;
}

.wrapper {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
  &.wrapper-ui-kit {
    max-width: 1460px;
  }
}

.mobile-href {
  pointer-events: none;
}

@media screen and (max-width: $smDesktopWidth) {
  .mobile-href {
    pointer-events: default;
  }
}

section,
.section {
  position: relative;
  padding: 40px 0;
}

// elements
@import '../../Сomponents/Button/button';
@import '../../Сomponents/Input/input';
@import '../../Сomponents/Dropdown/Dropdown';
@import '../../Сomponents/Checkbox/checkbox';
@import '../../Сomponents/Radio/radio';
@import '../../Сomponents/Toggle/toggle';
@import '../../Сomponents/Like-btn/Like-btn';

// ui-kit
@import '../../Сomponents/Ui-logo/ui-logo';

// colors and types
@import './pages/colors-and-type.scss';
@import '../../Сomponents/colors-item/colors-item.scss';
@import '../../Сomponents/Type-item/type-item';

// form elements
@import './pages/form-elements.scss';

// index
// @import './modules/header-logo.scss';
// @import './modules/navbar.scss';
// @import './modules/user.scss';
