
mixin auth(selector, title, data, btn)
  form(class=`card auth ${selector}`)
    h2.card__title.h1= title
    +input(data.inputAuthEmail)
    +input(data.inputAuthPass)
    +button(btn.selector, btn.type, btn.text)
    .card__wrap.card__wrap--between
      p Нет аккаунта на Toxin?
      a(href="#", class="btn btn--transparent") Создать