.footer {
  background-color: #fff;

  h3 {
    margin: 0 0 17px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__top {
    align-items: flex-start;
    padding: 100px 0;
  }

  &__brands,
  &__subscribe {
    flex: 0 1 260px;
  }

  &__brands {
    margin-right: 40px;
  }

  &__logo {
    margin-bottom: 10px;
  }

  &__text {
    color: $mainColor75;
  }

  &__nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: auto;

    .navigation {
      margin-right: 115px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__nav,
  &__subscribe {
    padding-top: 5px;
  }

  &__bottom {
    padding: 23px 0;
    border-top: 1px solid rgba($mainColor, 0.1);

    .footer__wrapper {
      align-items: center;
      justify-content: space-between;
    }
  }

  &--small {
    padding: 100px 0 110px;
    background-color: #fff;

    .footer__wrapper {
      max-width: 560px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer__text {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: $desktopWidth) {
  .footer {
    &__wrapper {
      justify-content: space-between;
    }

    &__brands {
      margin: 0;
    }

    &__nav {
      margin: 0 35px;

      .navigation {
        margin-right: 80px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    &__nav {
      margin: 0;

      .navigation {
        margin: 0 25px;
      }

      .navigation__item {
        margin: 0 0 7px;
      }
    }
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .footer {
    &__top {
      padding: 45px 0 65px;
    }

    &__brands {
      flex: 0 1 100%;
      max-width: 360px;
      margin: 0 auto 35px;
      text-align: center;
    }

    &__logo {
      img {
        margin: 0 auto;
      }
    }

    &__nav {
      flex: 0 1 63%;
      margin-right: auto;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    &__nav {
      flex: 0 1 60%;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .footer {
    &__top {
      max-width: 360px;
      padding: 45px 0 25px;
      margin: 0 auto;
    }

    &__nav {
      display: none;
    }

    &__subscribe {
      margin: 0 auto;
      text-align: center;
    }

    .subscribe__text {
      display: none;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .footer {
    &__bottom {
      .footer__wrapper {
        flex-direction: column;
        align-items: center;
      }
    }

    &__copyrights {
      margin-bottom: 25px;
    }
  }
}