include ../Logo/Logo
include ../Navigation/Navigation
include ../Subscribe/Subscribe
include ../Copyrights/Copyrights
include ../Social/Social

mixin footer(selector, small)
  if (!small)
    footer(class=`footer ${selector}`)
      .footer__top
        .wrapper.footer__wrapper
          .footer__item.footer__brands
            +logo("footer__logo", "front")
            p.footer__text
              | Lorem ipsum dolor sit amet
              | consectetur adipiscing elit aliquam
              | eget nullam pellentesque aliquam
              | curabitur cociis.

          .footer__item.footer__nav
            +navigation("footer__nav-navigation", "Navigation", navigation)
            +navigation("footer__nav-about", "About us", aboutUs)
            +navigation("footer__nav-support", "Support", support)

          +subscribe("footer__item footer__subscribe")

      .footer__bottom
        .wrapper.footer__wrapper
          +copyrights("footer__copyrights", "Copyright © 2018 Toxin UI Kit. All rights reserved.")
          +social("footer__social", social)
  else
    footer(class=`footer footer--small ${selector}`)
      .wrapper.footer__wrapper
        +logo("footer__logo", "front")

        p.footer__text
          | Lorem ipsum dolor sit amet
          | consectetur adipiscing elit aliquam
          | eget nullam pellentesque aliquam
          | curabitur cociis.

        +social("footer__social", social)