.rate__wrap {
  display: flex;
  align-items: center;
}

.rate__item {
  z-index: 1;
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 100%;
    height: 100%;
    stroke: $purple;
    transition: all 0.3s ease;

    path {
      fill: transparent;
    }
  }

  &.filled {
    svg {
      path {
        fill: url(#paint0_linear);
      }
    }
  }
}
