include ../../Dropdown-date/Dropdown-date
include ../../Dropdown/Dropdown
include ../../Button/Button

mixin findRoom(selector, title, data, findRoomBtn)
  form.card.find-room
    h2.card__title.h1!= title
    +dropdownDate(data.findRoomDateRange, true, false)
    +dropdown(data.findRoomGuests, data.findRoomGuestsItems)
    +button(findRoomBtn.selector, findRoomBtn.type, findRoomBtn.text)