.search-room {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__aside {
    flex: 0 1 266px;
    margin-right: 60px;
  }

  &__content {
    flex: 1;
  }
}
