.review {
  max-width: 724px;
  padding-left: 12px;
  color: $mainColor75;

  &__header {
    overflow: hidden;
    margin-bottom: 10px;
  }

  &__avatar {
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #ffffff;
  }

  &__name,
  &__date {
    font-size: inherit;
    line-height: inherit;
  }

  &__name {
    font-size: $mainFontSize;
    text-transform: none;
  }

  &__likes {
    padding: 0 4px;
    float: left;
  }

  &__text {
    margin-left: 58px;
  }
}
