.form__item-checkbox-rich {
  max-width: 266px;
  position: relative;
  display: flex;
  align-items: center;
  &:hover,
  &:active,
  &:focus {
    .checkbox-rich__mark {
      border-color: $purple;
    }
    .checkbox-rich__label {
      color: $mainColor75;
    }
  }
  .checkbox-rich__input {
    display: none;
  }
  .checkbox-rich__input:checked {
    & + .checkbox-rich__mark {
      border-color: $purple;
      &:before {
        opacity: 1;
      }
    }
    & ~ .checkbox-rich__label {
      color: $mainColor75;
    }
  }
}

.checkbox-rich__label {
  padding-left: 30px;
  font-weight: 400;
  font-size: 14px;
  color: $mainColor50;
  text-transform: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkbox-rich__title {
  display: inline-block;
  padding-top: 2px;
  margin: 0 0 5px;
  font-size: 14px;
  color: $mainColor75;
  text-transform: none;
}

.checkbox-rich__mark {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid $mainColor25;
  border-radius: 4px;
  transition: all 0.3s ease;
  &:before {
    opacity: 0;
    content: 'check';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .material-icons;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    font-weight: 700;
  }
}
