mixin checkboxRich(attrs)
  .form__item-checkbox-rich
    input(type= "checkbox", name= 'somename', id= attrs.id, class= "checkbox-rich__input")
    span(class= "checkbox-rich__mark")
    label(for= attrs.id, class= "checkbox-rich__label")
      h3(class="checkbox-rich__title")= attrs.title
      p= attrs.description
