.form-item__checkbox-expandable {
  &--active {
    .checkbox__title:before {
      transform: translate(-6px, -50%) rotateX(180deg);
    }

    .checkbox__list {
      display: block;
      animation: 0.3s showList both;
    }
  }

  label {
    font-weight: 400;
    font-size: $mainFontSize;
    color: $mainColor50;
    text-transform: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

@keyframes showList {
  to {
    opacity: 1;
  }
}

.checkbox {
  &__list {
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
  }

  &__title {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;

    &:before {
      @extend .material-icons;
      content: 'keyboard_arrow_down';
      position: absolute;
      right: 0;
      top: 50%;
      color: $mainColor50;
      font-size: 24px;
      transform: translate(-6px, -50%);
      transition: all 0.3s ease;
    }
  }

  &__list-input {
    display: none;

    &:checked {
      & + .checkbox__list-mark {
        border-color: $purple;

        &:before {
          opacity: 1;
        }
      }

      & ~ .checkbox__list-label {
        color: $mainColor75;
      }
    }
  }

  &__list-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:active,
    &:focus {
      .checkbox-mark {
        border-color: $purple;
      }

      label {
        color: $mainColor75;
      }
    }
  }

  &__list-mark {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid $mainColor25;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:before {
      @extend .material-icons;
      opacity: 0;
      content: "check";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 12px;
      font-weight: 700;
    }
  }
}