extends ../../layouts/ui-kit.pug

include ../../Сomponents/Colors-item/Colors-item.pug
include ../../Сomponents/Type-item/Type-item.pug

block content
  .wrapper.colors-wrap
    .colors-col
      +colors-item("Dark Shade 100%","#1F2041","#1F2041")
      +colors-item("Dark Shade 75%","#1F2041","rgba(31, 32, 65, 0.75)")
      +colors-item("Dark Shade 50%","#1F2041","rgba(31, 32, 65, 0.50)")
      +colors-item("Dark Shade 25%","#1F2041","rgba(31, 32, 65, 0.25)")
      +colors-item("Dark Shade 5%","#1F2041","rgba(31, 32, 65, 0.05)")
      +colors-item("Purple","#BC9CFF","#BC9CFF")
      +colors-item("Green","#6FCF97","#6FCF97")

    .type-col
      +type-item('H1', 'This one is the sub-section or widget title', 'h1')
      +type-item('H2', 'Next one is the item title inside widgets', 'h2')
      +type-item('H3', 'This is a label or CTA text', 'h3')
      +type-item('Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')
