.colors-types {
  &__wrap {
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__colors {
    flex: 0 1 276px;
    margin-right: 36.5%;
  }

  &__types {
    flex: 1;
    max-width: 408px;
  }
}


@media (max-width: $desktopWidth) {
  .colors-types {
    &__wrap {
      justify-content: space-between;
    }

    &__colors {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .colors-types {
    &__colors {
      flex: 0 1 100%;
      margin: 0 0 45px;
    }

    &__types {
      flex: 0 1 100%;
    }
  }
}

@media screen and (max-width: $tabletWidth) {
  .colors-types {
    &__colors {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .colors-item {
      width: 50%;
    }

    &__types {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .colors-types {
    .colors-item__bg {
      width: 45px;
      height: 45px;
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .colors-types {
    &__colors {
      justify-content: center;
    }

    .colors-item {
      width: 100%;
      max-width: 232px;
    }
  }
}
