include ../../Input/Input
include ../../Radio/Radio
include ../../Dropdown-date/Dropdown-date
include ../../Toggle/Toggle
include ../../Button/Button

mixin registration(selector, title, data, btn)
  form(class=`card registration ${selector}`)
    h2.card__title.h1= title
    +input(data.inputName)
    +input(data.inputLastname)
    .card__wrap
      +radio(data.radioMale)
      +radio(data.radioFemale)
    +dropdownDate(data.birthDate)
    +input(data.inputEmail)
    +input(data.inputPassword)
    +toggle(data.toggle)
    +button(btn.selector, btn.type, btn.text)
    .card__wrap.card__wrap--between.card__wrap-account
      p Уже есть аккаунт на Toxin
      a(href="#", class="btn btn--transparent") Войти