include ../Dropdown/Dropdown
include ../Dropdown-date/Dropdown-date
include ../Range/Range
include ../Checkbox/Checkbox
include ../Checkbox-expandable/Checkbox-expandable

mixin filter(selector)
  form(class=`filter ${selector}`, action="#")
    button(type="button", class="filter__item filter__btn")
      i(class="material-icons")
        | filter_list

    .filter__wrap
      .filter__item.filter__drop
        +dropdownDate(dateFiltered, false, true)
        +dropdown(dropdownGuests, dropdownGuestsItems)

      .filter__item.filter__range
        +range(rangeSlider)
        p.range__sub
          | Стоимость за сутки пребывания в номере

      .filter__item.filter__checkbox
        h4 checkbox buttons
        +checkbox(checkbox)
        +checkbox(checkbox2)
        +checkbox(checkbox3)

      .filter__item.filter__accessability
        h4 Доступность
        +checkbox(checkboxRich, true)
        +checkbox(checkboxRich2, true)

      .filter__item.filter__comfort
        +dropdown(dropdownComfort, dropdownComfortItems)

      +checkboxExpandable("дополнительные удобства", "", checkboxExpItems)