.btn {
  position: relative;
  display: inline-block;
  padding: 15px 19px;
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #fff;
  font-family: $mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 22px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }

  &--transparent {
    background: #fff;
    padding: 13px 17px;
    background-clip: padding-box;
    color: $purple;
    border: solid 2px transparent;
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      &:before {
        opacity: 0.5;
      }
    }
    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: -2px;
      background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: inherit;
      transition: all 0.3s ease;
    }
  }

  &--arrow {
    z-index: 1;
    padding: 15px 44px;
    &:hover,
    &:active,
    &:focus {
      &:before {
        transform: translateX(5px);
      }
    }
    &:before {
      overflow: hidden;
      content: 'arrow_forward';
      z-index: -1;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 34px;
      height: 44px;
      @extend .material-icons;
      color: inherit;
      transition: all 0.3s ease;
    }
  }

  &--w320 {
    width: 100%;
    max-width: 320px;
  }
}
