include ../Input/Input

mixin subscribe(selector, title, text)
  div(class=`subscribe ${selector}`)
    h3.subscribe__title
      | #{title}
    p.subscribe__text
      | #{text}

    +input(inputSubscribe)