.colors-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__bg {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;
  }

  &__right {
    flex: 1;
    font-family: $titleFont;
  }

  &__title {
    margin-bottom: 7px;
  }

  &__text {
    font-weight: 400;
  }
}