.label {
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  .label-right {
    float: right;
    color: $mainColor50;
    text-align: right;
    font-weight: 400;
  }
}

.form__item-range {
  .irs--round {
    height: auto;
    .irs-min, .irs-max, .irs-from, .irs-to {
      display: none !important;
    }
    .irs-single {
      color: $mainColor25;
    }
    .irs-bar,
    .irs-line {
      top: 0;
      height: 6px;
    }
    .irs-line {
      height: 6px;
      background: #FFFFFF;
      border: 1px solid $mainColor25;
      border-radius: 3px;
    }
    .irs-bar {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }
    .irs-handle {
      top: -3px;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border: 0;
      box-shadow: none;
    }
  }
}
