.label {
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  .label-right {
    float: right;
    color: $mainColor50;
    text-align: right;
    font-weight: 400;
  }
}
