form.card.auth
  h3.card__title.h1 Войти
  +input(inputAuthEmail)
  +input(inputAuthPass)
  +button("auth__btn btn--arrow", "submit", "Войти")
  .card__wrap.card__wrap--between
    p Уже есть аккаунт на Toxin
    a(href="#", class="btn btn--transparent") Создать