form.card.auth
  h2.card__title.h1 Войти
  +input(inputAuthEmail)
  +input(inputAuthPass)
  +button("auth__btn btn--arrow", "submit", "Войти")
  .card__wrap.card__wrap--between
    p Нет аккаунта на Toxin?
    a(href="#", class="btn btn--transparent") Создать