main {
  padding-bottom: 130px;
}

.block-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.block-item__link {
  text-transform: uppercase;
}

.block-item {
  flex: 0 1 320px;
  &--2col {
    flex: 1;
  }
  &--bmargin {
    margin-bottom: 20px;
  }
  &__radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 220px;
  }
  &__wrap {
    margin-bottom: 40px;
  }
}

.block-item,
.block-item__wrap {
  & > h3,
  & > .h3 {
    margin-bottom: 15px;
  }
}

.form-item {
  margin-bottom: 20px;
  &__range-date {
    margin-bottom: 40px;
  }
}

.form__item-checkbox-rich {
  margin-bottom: 10px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
