extends ../../layouts/ui-kit.pug
block vars
  - const title = 'Form Elements';

include ../../Сomponents/Input/Input.pug
include ../../Сomponents/Dropdown/Dropdown.pug
include ../../Сomponents/Dropdown-date/Dropdown-date
include ../../Сomponents/Checkbox/Checkbox.pug
include ../../Сomponents/Radio/Radio.pug
include ../../Сomponents/Toggle/Toggle.pug
include ../../Сomponents/Like-btn/Like-btn.pug
include ../../Сomponents/Rate-btn/Rate-btn.pug
include ../../Сomponents/Range/Range.pug
include ../../Сomponents/Button/Button.pug
include ../../Сomponents/Pagination/Pagination.pug
include ../../Сomponents/Checkbox-expandable/Checkbox-expandable.pug
include ../../Сomponents/Bullet-list/Bullet-list.pug
include ../../Сomponents/Advantages/Advantages.pug
include ../../Сomponents/Review/Review.pug

block content
  - const inputEmailAttrs = {"inputType": "email", "inputName": "email", "inputID": "email", "customSelector": "", "inputPlaceholder": "Email", "inputValue": false, "labelTitle": "Text Field"};

  - const inputSubscribe = {"inputType": "email", "inputName": "email", "inputID": "subscribe", "customSelector": 'form-item--w266', "inputPlaceholder": "Email", "inputValue": false, "labelTitle": "subscription text field", "inputWrap": "subscribe"};

  - const masked = {"id": "date-masked", "customSelector": "form-item--mb40", "inputPlaceholder": "ДД.ММ.ГГГГ", "labelTitle": "masked text field"};

  - const dropdownGuests = {"customSelector": "", "type": "guests", "placeholder": "Сколько гостей?", "labelTitle": "Dropdown", "dropdownBtns": true};
  - const dropdownGuests2 = {"customSelector": "", "type": "guests", "placeholder": "Сколько гостей?", "labelTitle": "Dropdown", "dropdownBtns": true};
  - const dropdownGuestsItems = [{"text": "Взрослые", "customSelector": ""}, {"text": "Дети", "customSelector": ""}, {"text": "Младенцы", "customSelector": "separate"}];

  - const dropdownFurniture = {"customSelector": "form-item--w266", "type": "", "placeholder": "Выберите удобства", "labelTitle": "Dropdown", "dropdownBtns": false};
  - const dropdownFurnitureItems = [{"text": "Спальни", "customSelector": ""}, {"text": "Кровати", "customSelector": ""}, {"text": "Ванные комнаты", "customSelector": ""}];



  - const dateRange = {"id1": "date1", "id2": "date2", "customSelector": "form-item__date--before form-item--mb40", "labelTitle1": "date Dropdown", "labelTitle2": "date Dropdown"};

  - const dateFiltered = {"id": "date-filtered", "customSelector": "form-item__date--before form-item--w266 form-item--mb40", "inputPlaceholder": "ДД.ММ.ГГГГ", "labelTitle": "filter date dropdown"};

  - const checkbox = {"name": "checkbox1", "id": "checkbox1", "customSelector": 'form-item__checkbox--w226', "labelClass": "", "value": false, "labelTitle": "Можно курить"};
  - const checkbox2 = {"name": "checkbox2", "id": "checkbox2", "customSelector": 'form-item__checkbox--w226', "labelClass": "", "value": false, "labelTitle": "Можно с питомцами"};
  - const checkbox3 = {"name": "checkbox3", "id": "checkbox3", "customSelector": 'form-item__checkbox--w226', "labelClass": "", "value": false, "labelTitle": "Можно пригласить гостей (до 10 человек)"};

  - const checkboxRich = {"name": "checkboxRich", "id": "checkboxRich", "customSelector": "form-item__checkbox--w266", "labelClass": "", "title": "Широкий коридор", "text": "Ширина коридоров в номере не менее 91 см."};
  - const checkboxRich2 = {"name": "checkboxRich2", "id": "checkboxRich2", "customSelector": "form-item__checkbox--w266",  "labelClass": "", "title": "Помощник для инвалидов", "text": "На 1 этаже вас встретит специалист  и проводит до номера."};

  - const radioMale = {"name": "gender", "id": "radio1", "customSelector": '', "labelClass": "", "value": 'male', "labelTitle": "Мужчина"};
  - const radioFemale = {"name": "gender", "id": "radio2", "customSelector": '', "labelClass": "", "value": 'female', "labelTitle": "Женщина"};

  - const toggle = {"name": "toggle", "id": "toggle1", "class": 'toggle', "labelClass": "", "value": false, "labelTitle": "Получать спецпредложения"};

  - const rangeSlider = {"name": "range", "customSelector": "form-item--w266", "labelTitle": "Range Slider", "minPrice": "0", "maxPrice": "15500", "from": "5000", "to": "10000"};

  - const checkboxExpItems = [{"name": "breakfast", "text": 'Завтрак'}, {"name": "writing-table", "text": 'Письменный стол'}, {"name": "table-for-eating", "text": 'Стул для кормления'}, {"name": "bad", "text": 'Кроватка'}, {"name": "tv", "text": 'Телевизор'}, {"name": "schampoo", "text": 'Шампунь'}, {"name": "tv2", "text": 'Телевизор'}, {"name": "schampoo2", "text": 'Шампунь'}];



  - const bulletItems = [{"text": "Нельзя с питомцами"}, {"text": "Без вечеринок и мероприятий"}, {"text": "Время прибытия — после 13:00, а выезд до 12:00"}];

  - const advantagesItems = [{"icon": "tag_faces", "title": "Комфорт", "text": "Шумопоглощающие стены"}, {"icon": "location_city", "title": "Удобство", "text": "Окно в каждой из спален"}]

  - const review1 = {"img": "/assets/images/review1.jpg", "name": "Мурад Сарафанов", "date": "5 дней назад", "likes": "12", "text": "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."}


  main
    .wrapper
      .block-wrap
        .block-item
          +input(inputEmailAttrs)
          +dropdown(dropdownGuests, dropdownGuestsItems)

          +dropdownDate(masked)
          +dropdownDate(dateRange, true, false)
          +dropdownDate(dateFiltered, false, true)

          .form-item.form-item__subscribe.form-item--width266
            +input(inputSubscribe)

        .block-item.block-item__center.block-item--w260
          .block-item--mb40
            h4 checkbox buttons
            +checkbox(checkbox)
            +checkbox(checkbox2)
            +checkbox(checkbox3)

          .block-item--mb40
            h4 radio buttons
            .block-item__radio
              +radio(radioMale, 'checked')
              +radio(radioFemale)

          .block-item--mb40
            h4 toggle
            .block-item__toggle
              +toggle(toggle)

          .block-item--mb40
            h4 Like button
            .block-item__toggle
              +likeBtn(2)

          .block-item--mb40
            h4 rate button
            .block-item__rate
              +rateBtn(5, 4)

        .block-item
          .block-item--mb40
            +range(rangeSlider)
          .block-item--mb30
            h4 Buttons
            +button('', 'Click me')
          .block-item--mb30
            +button('btn btn--transparent', 'Click me')
          .block-item--mb30
            a(class= "block-item__link", href= "#") Click me
          .block-item--mb40
            +button('btn btn--arrow btn--w320', 'перейти к оплате')
          .block-item--mb40
            h4 Pagination
            +pagination(4, 1, 4, 14, arrows)

      .block-wrap
        .block-item
          +dropdown(dropdownFurniture, dropdownFurnitureItems)

        .block-item.block-item__center
          +dropdown(dropdownGuests, dropdownGuestsItems)

        .block-item
          +dropdown(dropdownGuests2, dropdownGuestsItems)




      .block-wrap
        .block-item.block-item--mb40
          +checkboxExpandable('expandable checkbox list', 'form-item--w266', checkboxExpItems)

        .block-item.block-item__center.block-item--mb40
          h4 rich Checkbox Buttons
          +checkbox(checkboxRich, true)
          +checkbox(checkboxRich2, true)

        .block-item.block-item--mb40
          h4 bullet list
          +bulletList(bulletItems)



      .block-wrap
        .block-item.block-item--w280
          +advantages(advantagesItems)

        .block-item.block-item--2col
         +review(review1)

