.ui-kit-logo {
  padding-bottom: 53px;
}

main {
  padding-bottom: 130px;
}

.block-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 70px;
}

.block-item {
  flex: 0 1 320px;
  &--w260 {
    flex: 0 1 260px;
  }
  &--2col {
    flex: 1;
  }
  &--bmargin {
    margin-bottom: 17px;
  }
  &__radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 220px;
  }
  &__wrap {
    margin-bottom: 37px;
  }
}

.block-item,
.block-item__wrap {
  & > h3,
  & > .h3 {
    margin-bottom: 15px;
  }
}

.form-item {
  margin-bottom: 17px;
  &--mb40 {
    margin-bottom: 37px;
  }
  &--w266 {
    max-width: 266px;
  }
  &__checkbox,
  &__checkbox-rich {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
