doctype html
html(lang='en')
  head
    title UI-webkit
  body
    include ../includes/modules/header/header.pug
    main
      include ../includes/modules/main/first.pug
    footer
      .wrapper
        .footer-top
          .footer-top__company
          .footer-top__nav
          .footer-top__about
          .footer-top__support
          .footer-top__mailing
        .footer-bot

