mixin colors-item(title, colorText, color)
  .colors-item
    .colors-item__bg(style=`background-color: ${color}`)
    .colors-item__text
      .colors-item__title= title
      .colors-item__color= colorText

