.form-item__date {
  &--before {
    .dropdown-date__item {
      &:before {
        content: 'keyboard_arrow_down';
        @extend .material-icons;
        position: absolute;
        right: 0;
        bottom: 0;
        color: inherit;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.label-date {
  overflow: hidden;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.dropdown-date__wrap {
  display: flex;
  justify-content: space-between;

  .dropdown-date__item {
    max-width: 150px;
  }
}

.dropdown-date__item {
  position: relative;

  input {
    display: block;
    width: 100%;
    padding: 13px 15px;
    padding-right: 44px;
    background: #ffffff;
    color: $mainColor75;
    text-align: left;
    border: 1px solid $mainColor25;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      color: $mainColor75;
      border-color: inherit;
    }
  }
}

.datepicker {
  box-sizing: border-box;
  visibility: hidden;
  width: 320px;
  padding: 14px 17px;
  background-color: #ffffff;
  color: $mainColor50;
  font-family: $mainFont;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border: 1px solid rgba(31, 32, 65, 0.25);

  &.active {
    visibility: visible;
  }

  &--nav {
    align-items: center;
    padding: 0;
    margin: 0 0 26px;
    border: 0;
  }

  &--nav-action {
    position: relative;
    width: 24px;

    &:before {
      width: 24px;
      height: 24px;
      @extend .material-icons;
      color: $purple;
    }

    svg {
      display: none;
    }
  }

  &--nav-action[data-action='prev'] {
    &:before {
      content: 'arrow_back';
    }
  }

  &--nav-action[data-action='next'] {
    &:before {
      content: 'arrow_forward';
    }
  }

  &--nav-title {
    align-items: flex-end;
    color: $mainColor;
    font-family: $titleFont;
    font-size: 19px;
    line-height: 1.2;
    font-weight: 700;

    i {
      color: inherit;
    }
  }

  &--content {
    padding: 0;
  }

  &--days-names {
    justify-content: center;
    margin: 0;
  }

  &--day-name {
    flex: 0 1 40px;
    height: 40px;
    color: $purple;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: none;
  }

  &--cells {
    &.datepicker--cells-days {
      justify-content: center;
    }
  }

  &--cell {
    &.datepicker--cell-day {
      position: relative;
      z-index: 1;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;

      &.-in-range- {
        background: rgba($purple, 0.25);
        color: $mainColor50;
        border-radius: 0;
        border: 0;
      }

      &.-current- {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      }

      &.-focus- {
        background: rgba($purple, 0.25);
        border: 0;
      }

      &.-range-from-,
      &.-range-to- {
        position: relative;
        z-index: 1;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        color: #fff;
        font-weight: 700;

        &:before {
          content: '';
          z-index: -1;
          position: absolute;
          top: 0;
          height: 100%;
          width: 50%;
          background-color: rgba($purple, 0.25);
        }

        &.-focus- {
          &:before {
            display: none;
          }
        }

        &.-range-from- {
          &:before {
            right: 0;
          }
        }

        &.-range-to- {
          &:before {
            left: 0;
          }
        }
      }

      &.-current-,
      &.-selected-,
      &.-focus- {
        color: #fff;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .dropdown-date {
    &__wrap {
      flex-wrap: wrap;

      .dropdown-date__item {
        width: 100%;
        max-width: 100%;
        margin: 0 0 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .datepicker {
    left: 5px !important;
  }
}
