// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;
$titleFont: 'Quicksand', sans-serif;

// Size
$mainColor: #1f2041;
$mainColor75: rgba(31, 32, 65, 0.75);
$mainColor50: rgba(31, 32, 65, 0.5);
$mainColor25: rgba(31, 32, 65, 0.25);
$mainFontSize: 14px;
$mainLineHeight: 22px;

$desktopWidth: 1280px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #6fcf97;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #bc9cff;
