.header-navbar {
  margin: 0 auto;
  margin-right: 20px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  a {
    position: relative;
    display: inline;
    padding: 7px 20px;
    color: transparentize($mainColor, 0.5);
    transition: all 0.3s ease;
    &:before {
      content: '';
      position: absolute;
      bottom: 4px;
      left: 50%;
      width: 0;
      height: 1px;
      background-color: $mainColor;
      transform: translateX(-50%);
      transition: all 0.3s ease;
    }
  }
  li {
    position: relative;
    &:hover {
      & > a {
        &:before {
          width: calc(100% - 40px);
        }
      }
      & > .navbar__submenu {
        display: block;
      }
    }
  }
  .navbar__submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 32px;
    min-width: 300px;
  }
}
