.form-item__range {
  .label {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    .label-right {
      float: right;
      color: $mainColor50;
      text-align: right;
      font-weight: 400;
    }
  }

  .irs--round {
    height: auto;
    cursor: pointer;
    .irs-min,
    .irs-max,
    .irs-from,
    .irs-to {
      display: none !important;
    }
    .irs-single {
      color: $mainColor25;
    }
    .irs-bar,
    .irs-line {
      top: 0;
      height: 6px;
    }
    .irs-line {
      height: 6px;
      background: #ffffff;
      border: 1px solid $mainColor25;
      border-radius: 3px;
    }
    .irs-bar {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    }
    .irs-handle {
      z-index: 1;
      top: -5px;
      width: 16px;
      height: 16px;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border: 2px solid #fff;
      box-shadow: none;
      cursor: pointer;
    }
  }
}
