.block-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.block-item {
  flex: 0 1 27.6%;
}
.block-item--middle {
  flex: 0 1 260px;
}
.block-item--bmargin {
  margin-bottom: 20px;
}

.form-item {
  margin-bottom: 20px;
}
