extends ../../layouts/ui-kit
block vars
  - const title = 'Headers & Footers';

  include ../../Ğ¡omponents/Header/Header


block content
  +header("header", "")
  +header("header", "signed")

  main
    .wrapper