.form-item__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  &:hover,
  &:active,
  &:focus {
    .checkbox__mark {
      border-color: $purple;
    }
    label {
      color: $mainColor75;
    }
  }

  &--w226 {
    width: 226px;
  }

  &--w266 {
    width: 266px;
  }

  .checkbox {
    display: none;
  }

  .checkbox:checked {
    & + .checkbox__mark {
      border-color: $purple;
      &:before {
        opacity: 1;
      }
    }
    & ~ label {
      color: $mainColor75;
    }
  }

  label {
    padding-left: 30px;
    font-weight: 400;
    font-size: $mainFontSize;
    line-height: 1.3;
    color: $mainColor50;
    text-transform: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .checkbox__mark {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid $mainColor25;
    border-radius: 4px;
    transition: all 0.3s ease;
    &:before {
      @extend .material-icons;
      opacity: 0;
      content: 'check';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

.checkbox-rich__title {
  display: inline-block;
  padding-top: 4px;
  margin: 0 0 7px;
  font-size: 14px;
  color: $mainColor75;
  text-transform: none;
}

.checkbox-rich__text {
  color: $mainColor50;
  font-size: 12px;
  line-height: 14px;
}
