mixin userBlock(selector, signed)
  div(class=`user ${selector}`)
    if (signed.length > 0)
      a(href="/personal", class="user__name")
        | Cosmin Negoita
    else
      a(href="/login", class="user__mobile")
        | <i class="material-icons">account_circle</i>

      +button("btn--transparent btn__call-auth", "button", "Войти")
      +button("btn__call-registration", "button", "Зарегистрироваться")