extends ../../layouts/page
block vars
  - const title = "Room detail"
  - pageSelector.push("room-detail")
  - const headerNavbar = [{text: "О нас", link: "/about", parent: "" }, {text: "Услуги", link: "/services", selector: "", parent: "navbar__item--parent", submenu: [{text: "Бронирование", link: "/reservation"}, {text: "Поиск", link: "/room-search"}] }, {text: "Вакансии", link: "/Careers", selector: "", parent: ""}, {text: "Новости", link: "/news", selector: "", parent: ""}, {text: "Соглашения", link: "/documentation", selector: "", parent: "" }];

  - const footerData = {navTitle1: "навигация", navTitle2: "о нас", navTitle3: "Служба поддержки", subscribeTitle: "Подписка", subscribeText: "Получайте специальные предложения и новости сервиса", copyrights: "Copyright © 2018 Toxin отель. Все права зачищены."}
  - const footerBrandsData = {logoSelector: "footer__logo", logoFront: "front", textSelector:"footer__text", text:"Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"}
  - const navigation = [{text: "О нас", link: "/about" }, { text: "Новости", link: "/news" }, { text: "Служба поддержки", link: "/support" }, { text: "Услуги", link: "/services" }];
  - const aboutUs = [{text: "О сервисе", link: "/who" }, { text: "Наша команда", link: "/team" }, { text: "Вакансии", link: "/careers" }, { text: "Инвесторы", link: "/investors" }];
  - const support = [{text: "Соглашения", link: "/documentation" }, { text: "Сообщества", link: "/community" }, { text: "Связь с нами", link: "/get-in-touch" }];

  - const inputSubscribe = {"inputType": "email", "inputName": "subscribe", "inputID": "subscribe", "customSelector": 'form-item__subscribe', "inputPlaceholder": "Your email address", "inputValue": false, "labelTitle": "", "inputWrap": "input__subscribe"};
  - const social = [{selector: "social__tw", link: "https://twitter.com/"}, {selector: "social__fb", link: "https://ru-ru.facebook.com/"}, {selector: "social__insta", link: "https://www.instagram.com/?hl=ru"},]

  - const dateFiltered = {"id": "date-filtered", "customSelector": "form-item__date--before", "inputPlaceholder": "ДД.ММ.ГГГГ", "labelTitle": "даты пребывания в отеле"};
  - const dropdownGuests = {"customSelector": "search-room__guests", "type": "guests", "placeholder": "Сколько гостей?", "labelTitle": "Гости", "dropdownBtns": true};
  - const dropdownGuestsItems = [{"text": "Взрослые", "customSelector": ""}, {"text": "Дети", "customSelector": ""}, {"text": "Младенцы", "customSelector": "separate"}];

  - const dropdownComfort = {"customSelector": "", "type": "", "placeholder": "Выберите удобства", "labelTitle": "удобства номера", "dropdownBtns": false};
  - const dropdownComfortItems = [{"text": "Спальни", "customSelector": ""}, {"text": "Кровати", "customSelector": ""}, {"text": "Ванные комнаты", "customSelector": ""}];

  - const findRoomDateRange = {"id1": "findRoomFromDate", "id2": "findRoomToDate", "customSelector": "form-item__date--before", "labelTitle1": "Прибытие", "labelTitle2": "Выезд"};
  - const findRoomGuests = {"customSelector": "", "type": "guests", "placeholder": "Сколько гостей?", "labelTitle": "Гости", "dropdownBtns": true};
  - const findRoomGuestsItems = [{"text": "Взрослые", "customSelector": ""}, {"text": "Дети", "customSelector": ""}, {"text": "Младенцы", "customSelector": "separate"}];

  - const checkbox = {"name": "checkbox1", "id": "checkbox1", "customSelector": '', "labelClass": "", "value": false, "labelTitle": "Можно курить"};
  - const checkbox2 = {"name": "checkbox2", "id": "checkbox2", "customSelector": '', "labelClass": "", "value": false, "labelTitle": "Можно с питомцами"};
  - const checkbox3 = {"name": "checkbox3", "id": "checkbox3", "customSelector": '', "labelClass": "", "value": false, "labelTitle": "Можно пригласить гостей (до 10 человек)"};
  - const checkboxRich = {"name": "checkboxRich", "id": "checkboxRich", "customSelector": "", "labelClass": "", "title": "Широкий коридор", "text": "Ширина коридоров в номере не менее 91 см."};
  - const checkboxRich2 = {"name": "checkboxRich2", "id": "checkboxRich2", "customSelector": "", "labelClass": "", "title": "Помощник для инвалидов", "text": "На 1 этаже вас встретит специалист  и проводит до номера."};


  include ../../Сomponents/Header/Header
  include ../../Сomponents/Footer/Footer


block content
  +header("header", "")

  main
    .room-detail__gallery
      img(src=require("../../assets/images/room-detail/room1.jpg"))
      .wrap
        img(src=require("../../assets/images/room-detail/room2.jpg"))
        img(src=require("../../assets/images/room-detail/room3.jpg"))


    .wrapper.room-detail__wrapper
      .room-detail__left


      .room-detail__right
        include ../../Сomponents/Cards/Card-room/Card-room

  +footer("search-room__footer", footerData)
  .overlay