include ../../../utils/button.pug

.user.header-user
  .user-auth.header-user__auth
    +button("btn--transparent call-modal call-modal-auth", "Войти")
  .user-reg.header-user__reg
    +button("btn call-modal call-modal-reg", "Зарегистрироваться")
