mixin toggle(attrs)
  .form-item.form-item__toggle
    input(type= "checkbox", name= attrs.name, id= attrs.id, class= "toggle " + attrs.class, value= attrs.value)
    span(class= "toggle__mark")
    label(for= attrs.id, class= "toggle__label "+ attrs.labelClass)= attrs.labelTitle
