include ../includes/modules/card-forms/room-finder.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Ui cards
  body
    header
      .wrapper.wrapper-ui-kit
        include ../utils/ui-kit-logo.pug

    main
      //- +registration-form()
