.ui-kit-logo {
  padding-bottom: 53px;
}

main {
  padding-bottom: 130px;
}

.cards {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex: 0 1 380px;
    margin-bottom: 37px;

    &--right {
      flex: 0 1 280px;
    }
  }
}

.card {
  margin: 0 0 37px;
}