.cards {
  background-color: #f4f4f6;

  .ui-kit-logo {
    padding-bottom: 65px;
  }

  main {
    padding-bottom: 130px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 1 380px;
    margin: 0 40px 0 0;

    &--right {
      flex: 0 1 280px;
      margin-right: 0;
    }
  }
}

.card,
.datepicker--expanded,
.room {
  margin: 0 0 37px;
}

@media screen and (max-width: $desktopWidth) {
  .cards {
    &__wrapper {
      justify-content: center;
    }

    &__item {
      &--right {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 1 100%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .cards {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin: 0 auto;
    }
  }
}