mixin registration-form(title, selector= "")
  h2.form-card__title= title
  form(method="post",class=`form-card ${selector}`)
    div(class="card-form__item card-form__item-name")
      input(type="text", name="reg-name", placeholder="Имя")

    div(class="card-form__item card-form__item-last-name")
      input(type="text", name="reg-last-name", placeholder="Фамилия")

    div(class="card-form__item card-form__item--flex card-form__item-gender")
      label(for="reg-gender-male")
        input(type="radio", name="reg-gender", id="reg-gender-male", value="male")
      label(for="reg-gender-female")
        input(type="radio", name="reg-gender", id="reg-gender-female", value="female")

    div(class="card-form__item card-form__item-birth")
      label(for="reg-birth") Дата рождения
      input(type="date", name="birth", id="reg-birth")

    div(class="card-form__item card-form__item-data")
      label(for="reg-data-email") Данные для входа в сервис
      input(type="text", name="reg-email", id="reg-data-email", placeholder="Email")
      input(type="password", name="reg-password", placeholder="Пароль")

    div(class="card-form__item card-form__item-spec")
      label(for="reg-data-spec") Получать спецпредложения
      input(type="checkbox", name="reg-spec", id="reg-spec")

    div(class="card-form__item card-form__item-spec")
      input(type="submit", value="")




