.form__item-radio {
  position: relative;
  display: flex;
  align-items: center;
  &:hover,
  &:active,
  &:focus {
    label {
      color: $mainColor75;
    }
    .radio-mark {
      opacity: 1;
    }
  }
  .radio-label {
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    color: $mainColor50;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .radio {
    display: none;
  }
  .radio:checked {
    & + .radio-mark {
      border-color: $purple;
      &:before {
        opacity: 1;
      }
    }
    & ~ label {
      color: $mainColor75;
    }
  }
}

.radio-mark {
  z-index: -11;
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $mainColor25;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:before {
    opacity: 0;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}
