.form__item-radio {
  display: flex;
  align-items: center;
  &:hover,
  &:active,
  &:focus {
    label {
      color: $mainColor75;
    }
    .radio-mark {
      opacity: 1;
    }
  }
  label {
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    color: $mainColor50;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.radio-mark {
  z-index: 1;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid $mainColor25;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:before {
    opacity: 0;
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 50%;
  }
}
