form.card.card-room
  .card__wrap.card__wrap--between.card__title.card-room__title
    h3.card-room__title-text
      | № <span class="card-room__title-text--size">888</span> <span class="card-room__title-text--color">люкс</span>
    .card-room__title-price
      | <span>9 990₽</span> в сутки

  +dropdownDate(roomDateRange, true, false)
  +dropdown(roomGuests, roomGuestsItems)

  .card-room__price
    .card__wrap.card-room__item
      .card-room__text
        | 9 990₽ х <span>1 сутки</span>
      .card-room__sum
        | 9 990₽

    .card__wrap.card-room__item
      .card-room__text
        | Сбор за услуги: скидка <span>2 179₽</span>
      .card-room__icon
        i(class="material-icons") error_outline
      .card-room__sum
        | 0₽

    .card__wrap.card-room__item
      .card-room__text
        | Сбор за дополнительные <br />
        | услуги
      .card-room__icon
        i(class="material-icons") error_outline
      .card-room__sum
        | 300₽

    .card__wrap.card__wrap--between.card-room__total
      .card-room__total-text
        | Итого
      .card-room__total-price
        | 38 081₽

  +button("card-room__btn btn--arrow", "submit", "Забронировать")