include ../Button/Button
include ../Logo/Logo
include ../Navbar/Navbar
include ../User/User

mixin header(selector, signed)
  header(class=`${selector}`)
    .wrapper
      +logo("header__logo", "front")

      +navbar("header__navbar", headerNavbar)

      +userBlock("header__login", signed)