.registration {
  .form-item {
    margin: 0 0 10px;

    &__radio {
      margin: 0 0 17px;

      &:first-child {
        margin-right: 20px;
      }
    }

    &__birth-date {
      margin: 0 0 17px;
    }

    &__toggle {
      margin: 0 0 17px;
    }
  }

  &__submit {
    width: 100%;
    margin: 0 auto 30px;
  }
}